# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android
android/build/
android/.gradle/
android/app/build/
android/app/src/main/assets/
android/app/src/main/res/raw/
android/app/src/main/res/drawable-*/
android/local.properties

# iOS
ios/build/
ios/Pods/
ios/.xcode.env.local
ios/*.xcworkspace/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/DerivedData/
ios/IPAs/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# IDEs
.idea/
.vscode/

# local env files
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo

# test
coverage/
